.Input{
    width: 100%;
    padding: 10px;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.InputElement{
    outline: none;
    border:1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.InputElement:focus{
    outline: none;
    background: #ccc;

}

.Invalid{
    border: 1px solid red;
    background-color: salmon;
}